<form id="right">
  <div ng-show="right">
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom class="md-primary">
          <md-tab label="Centrix collection" ng-click="" style="overflow-y: hidden;">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <!-- left -->
              <div flex-xs flex-gt-xs="20" layout="column">
                <ul class="list-group">
                  <li class="list-group-item" ng-click="show_centrix_collection('organisations')">organisations</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('ordercategories')">ordercategories</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('frequencies')">frequencies</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('billinggroups')">billinggroups</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('itemmasters')">itemmasters</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('referencevalues')">referencevalues</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('tariffs')">tariffs</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('accountbillingmappings')">accountbillingmappings</li>
                  <li class="list-group-item" ng-click="show_centrix_collection('drugmasters')">drugmasters</li>
                </ul>
              </div>
              <!-- right -->
              <div flex-xs flex-gt-xs="80" layout="column" style="margin-top: 20px;margin-left: 20px;">
                <div flex layout="row" >
                <div>{{vm.mfile}} {{itemcount}}</div>
                <div ng-if="itemcount != ''" class="col-sm-5" flex layout="row" style="justify-content:flex-end;">
                  <md-select ng-model="vm.selectedDownload" class="md-no-underline nomargin md-select-radius"
                    ng-change="downloadTypeChange(vm.selectedDownload)">
                    <md-option ng-repeat="fileType in vm.downloadSupports" ng-value="fileType"
                      ng-selected="fileType === vm.selectedDownload ? true: false">
                      {{fileType}}
                    </md-option>
                  </md-select>

                  <button class="btn btn-default" id="button1" ng-click="downloadFile(vm.selectedDownload)" style="width: 60px;height:40px;">
                    <img src="../../app/image/download.png" alt="" style="width: 30px;">
                  </button>
                  <button class="btn btn-default" id="button2" ng-click="printFile()" style="width: 60px;height:40px;">
                    <img src="../../app/image/print.png" alt="" style="width: 30px;">
                  </button>
                </div>
                </div>
                <div id="table_c1" style="
                    margin-top: 10px;
                    max-height: 65vh;
                    width: 78vw;
                    overflow-y: hidden;
                    overflow-x: hidden;
                  "></div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="import from excel to mongodb">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <!-- left -->
              <div flex-xs flex-gt-xs="60" layout="column">
                <!-- <md-content class="md-padding"> -->
                <div class="conatiner">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                      <input class="form-control" type="file" id="input" accept=".xls,.xlsx" />
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary" id="button" ng-click="xlsx2json('#table1')">
                        Show in table
                      </button>
                    </div>

                    <div id="table1" style="
                        margin-top: 20px;
                        max-height: 80vh;
                        width: 57vw;
                        overflow-y: hidden;
                        overflow-x: hidden;
                      "></div>
                  </div>
                </div>
                <!-- </md-content> -->
              </div>
              <!-- right -->
              <div flex-xs flex-gt-xs="30" layout="column" >
                <div class="column" ng-if="vm.showadd" style="margin-top: 20px;margin-left: 20px;">
                  <div>
                    <button class="btn btn-primary" id="button" ng-click="save2db()"
                      style="margin-top: 15px; width: 200px">
                      save to database
                    </button>
                  </div>
                  <div class="textalert" style="margin-top: 20px">
                    {{notice}}
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="ตรวจสอบ collection" ng-click="showcollection()" style="overflow-y: hidden;">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <!-- left -->
              <div flex-xs flex-gt-xs="30" layout="column">
                <div id="table2" style="
                    margin-top: 20px;
                    max-height: 90vh;
                    width: 27vw;
                    overflow-y: hidden;
                    overflow-x: hidden;
                  "></div>
              </div>
              <!-- right -->
              <div flex-xs flex-gt-xs="70" layout="column">
                <div flex layout="row">
                <div>{{vm.mfile}} {{itemcount}}</div>
                <div ng-if="itemcount != ''" class="col-sm-5" flex layout="row" style="justify-content:flex-end;">
                  <md-select ng-model="vm.selectedDownload" class="md-no-underline nomargin md-select-radius"
                    ng-change="downloadTypeChange(vm.selectedDownload)">
                    <md-option ng-repeat="fileType in vm.downloadSupports" ng-value="fileType"
                      ng-selected="fileType === vm.selectedDownload ? true: false">
                      {{fileType}}
                    </md-option>
                  </md-select>

                  <button class="btn btn-default" id="button1" ng-click="downloadFile(vm.selectedDownload)" style="width: 60px;height:40px;">
                    <img src="../../app/image/download.png" alt="" style="width: 30px;">
                  </button>
                  <button class="btn btn-default" id="button2" ng-click="printFile()" style="width: 60px;height:40px;">
                    <img src="../../app/image/print.png" alt="" style="width: 30px;">
                  </button>
                </div>
                </div>
                <div id="table3" style="
                    margin-top: 20px;
                    max-height: 65vh;
                    width: 67vw;
                    overflow-y: hidden;
                    overflow-x: hidden;
                  "></div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="adjust OrderItem" ng-click="adjustCollection('Orderitem')">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <!-- left -->
              <div flex-xs flex-gt-xs="60" layout="column">
                <!-- <md-content class="md-padding"> -->
                <div class="conatiner">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div id="table4" style="
                        margin-top: 20px;
                        max-height: 80vh;
                        width: 57vw;
                        overflow-y: hidden;
                        overflow-x: hidden;
                      "></div>
                  </div>
                </div>
                <!-- </md-content> -->
              </div>
              <!-- right -->
              <div flex-xs flex-gt-xs="30" layout="column">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="text1" aria-describedby="" placeholder="code"
                      ng-model="vm.item.CODE" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="text2" aria-describedby="" placeholder="name"
                      ng-model="vm.item.NAME" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="text3" aria-describedby="" placeholder="DESCRIPTION"
                      ng-model="vm.item.DESCRIPTION" />
                  </div>
                  <md-radio-group ng-model="vm.item.ISSUBCATEGORY" layout="row" style="margin-top: 20px">
                    ISSUBCATEGORY...
                    <md-radio-button value="true">true</md-radio-button>
                    <md-radio-button value="false" class="md-primary">false</md-radio-button>
                  </md-radio-group>
                  <div flex-xs flex-gt-xs="30" layout="column" style="margin-top: 20px">
                    <md-card>
                      <div class="">
                        <md-input-container flex style="width: 100%">
                          <label>ORDERCATEGORY TYPE</label>

                          <md-select ng-model="vm.item.ORDERCATEGORYTYPE">
                            <md-option ng-repeat="value in ordercategorytype  | orderBy:'NAME'"
                              ng-selected="data === value.NAME" value="{{ value.NAME }}">
                              {{ value.NAME }}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </md-card>
                  </div>
                  <div flex-xs flex-gt-xs="30" layout="column" style="padding-top: 0">
                    <md-card>
                      <div class="">
                        <md-input-container flex style="width: 100%">
                          <label>BILLING TYPE</label>

                          <md-select ng-model="vm.item.BILLINGTYPE">
                            <md-option ng-repeat="value in billingtype | orderBy:'NAME'"
                              ng-selected="data === value.NAME" value="{{ value.NAME }}">
                              {{ value.NAME }}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </md-card>
                  </div>
                  <div flex layout="row">
                    <button type="submit" class="btn btn-primary width100"
                      ng-click="editordercat(vm.item._id,vm.item.CODE,vm.item.NAME,vm.item.DESCRIPTION,vm.item.ISSUBCATEGORY,vm.item.ORDERCATEGORYTYPE,vm.item.BILLINGTYPE)">
                      EDIT
                    </button>
                    <button type="submit" class="btn btn-primary width100"
                      ng-click="editordercat('',vm.item.CODE,vm.item.NAME,vm.item.DESCRIPTION,vm.item.ISSUBCATEGORY,vm.item.ORDERCATEGORYTYPE,vm.item.BILLINGTYPE)">
                      NEW
                    </button>
                    <button type="submit" class="btn btn-primary width100" ng-click="deleteordercat(vm.item._id)">
                      DELETE
                    </button>
                  </div>
                  <div ng-show="vm.processing" class="align-c">
                    <img class="square" src="app/image/loading.gif" style="width: 100px" />
                    <div class="alert alert-warning">
                      <strong> โปรดรอสักครู่.....</strong>
                    </div>
                  </div>
                </form>
                <div class="column" ng-if="vm.showadd" style="margin-top: 20px">
                  <div>
                    <button class="btn btn-primary" id="button" ng-click="save2db()"
                      style="margin-top: 15px; width: 200px">
                      save to database
                    </button>
                  </div>
                  <div class="textalert" style="margin-top: 20px">
                    {{notice}}
                  </div>
                </div>
              </div>
            </md-content>
          </md-tab>


        </md-tabs>
      </md-content>
    </div>
  </div>
</form>